/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
@import "./reset.css";

.header{
  background-color: black;
  height: 10vh;
  /* background-color: #1c1d21; */
}
.main{
  background-color: #1c1d21;
}
.main-content{
  /* background-color: #1c1d21; */
}
.main-content {
  /* height: 100vh; */
  background-color: #1c1d21;
}
.content-wrap{
  /* line-height: 1.5; */
  /* height:80vh;
  border: 1px solid black; */
  
}
.full-page-section-1 {
  /* border: 1px solid red; */
  height: 90vh;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
}
.full-page-section {
  border: 1px solid black;
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
}
.temp-img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  object-position: center;
}
.img-text{
  color: #b6b8b7;
  font-weight: 600;
}
.img-drag-upload{
  border-radius: 7px;
  background-color: #313131;
  height: 23vh;
}
.img-btn{
  color:#ffffff;
  font-size: 0.9rem;
  background-color: #2b2b2b;
  border-radius: 25px;
  height: 45px;
  cursor: pointer;
}
.img-create-btn{
  color:#424348;
  font-size: 0.9rem;
  background-color: #9dd6e7;
  border-radius: 25px;
  height: 45px;
  cursor: pointer;
}
.nav-text{
  color:#ffffff!important;
  font-size: 0.8rem!important;
}
