@import "./reset.css";
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

#root{
  font-family: 'Pretendard-Regular', sans-serif; /* 프리텐다드 폰트 적용 */
}

.header{
  background-color: black;
  height: 10vh;
  /* background-color: #1c1d21; */
}

.main{
  background-color: #1c1d21;
}
.main-content{
  /* background-color: #1c1d21; */
}
.main-content {
  /* height: 100vh; */
  background-color: #1c1d21;
}
.content-wrap{
  /* line-height: 1.5; */
  /* height:80vh;
  border: 1px solid black; */
  
}
.full-page-section-1 {
  /* border: 1px solid red; */
  height: 90vh;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
}
.full-page-section {
  /* border: 1px solid red; */
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.temp-img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  object-position: center;
}
.img-text{
  color: #b6b8b7;
  font-weight: 600;
}
.img-drag-upload {
  border-radius: 8px; /* 모서리 둥글게 (수정된 부분) */
  background-color: #313131;
  height: 400px; /* 드래그 영역의 높이 설정 */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: rgba(255, 255, 255, 0.1); /* 배경색 추가 (선택 사항) */
}
@media (max-height: 650px) {
  .img-drag-upload {
    height: 250px; /* 높이 수정 */
  }
} /* 닫는 중괄호 추가 */
/* @media (max-width: 410px) {
  .img-drag-upload {

    height: 300px; 
  }
} */
.img-btn{
  color:#ffffff;
  font-size: 0.9rem;
  background-color: #2b2b2b;
  border-radius: 25px;
  height: 45px;
  cursor: pointer;
}
.img-btn:hover{
  background-color: #9dd6e7;
  color:#424348;
}

.img-create-btn{
  color:#424348;
  font-size: 0.9rem;
  background-color: #9dd6e7;
  border-radius: 25px;
  height: 45px;
  cursor: pointer;
  font-weight: 900!important;
  text-decoration: none; /* 밑줄 제거 */
}
.img-create-btn:hover{
  background-color: #2b2b2b;
  color:#ffffff;
}
.nav-text{
  color:#ffffff!important;
  font-size: 1.3rem!important;
}
.section2-img{
  width: 100%;
  height: 70%;
  /* object-fit: contain; */
  /* object-position: center; */
}
.section2-text{
  color:#9DD6E9;
  font-weight: 600;
  font-size: 1.1rem;
  /* font:white; */
}
.intro{
  display: flex; /* display를 flex로 변경 */
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
}
.scroll-indicator {
  width: 2em;
  height: 2em;
  background-color: transparent;
  z-index: 80;
  transform: translateX(-50%) rotate(45deg); /* 수평 중앙 정렬 */
  border-width: 0 0.25em 0.25em 0;
  border-style: solid;
  border-color: #9dd6e7;
  animation: scrolldown 1.2s ease-in-out infinite;
}

@keyframes scrolldown {
  0% {
    transform: translateY(20%) rotate(45deg);
    opacity: 0.7;
  }
  50% {
    transform: translateY(0%) rotate(45deg);
    opacity: 0.2;
  }
  100% {
    transform: translateY(20%) rotate(45deg);
    opacity: 0.7;
  }
}
.section3-text{
  font-size: 0.8em;
  color: #B8B8B8;
}
.section3-img{
  width:100%;
height:auto;
}
.footer {
  background-color: #2C393D; 
  padding: 40px;
  height: 200px;
  /* text-align: center; 텍스트 중앙 정렬 */
  color: #B8B8B8; /* 텍스트 색상 */
  font-size: 15px;
  /* font-weight: 600!important; */
  line-height: 1.8; /* 줄 간격 추가 */

}
@media (max-width: 560px) {
  .footer {
    font-size: 12px; /* 원하는 폰트 사이즈로 조정 */
    height: 160px;
    padding: 30px;
  }
} /* 닫는 중괄호 추가 */
@media (max-width: 410px) {
  .footer {
    font-size: 9px;
    padding: 30px;
    
  }
}
.footer a {
  color: inherit; /* 부모 요소의 색상 상속 */
  text-decoration: none; /* 밑줄 제거 */
}

.footer a:hover {
  text-decoration: underline; /* 호버 시 밑줄 추가 */
}
.full-page-section-prompt {
  /* border: 1px solid red; */
  height: 90vh;
  scroll-snap-align: start;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.prompt-text{
  color: white;
  font-size: 1.3em;
}
.prompt-input input {
  background-color: rgba(47, 47, 47, 1);
  border-radius: 10px;
  border: none; /* 테두리 제거 */
  padding: 10px 20px; /* 상하 10px, 좌우 20px 패딩 설정 */
  width: 100%;
  color:white;
}
.prompt-input input:focus {
  outline: none; /* 포커스 시 아웃라인 제거 */
}
.prompt-input input::placeholder {
  font-size: 1rem;
  color: rgba(184, 184, 184, 1);
  /* opacity: 1; 플레이스홀더 불투명도 설정 */
}
.prompt-input{
  position: relative;
}
.generate-button {
  position: absolute;
  background: rgba(157, 214, 233, 1); /* 배경색 제거 */
  color: black; /* 부모 요소의 텍스트 색상 상속 */
  border: none; /* 테두리 제거 */
  padding: 4px 20px; /* 패딩 제거 */
  margin: 0; /* 마진 제거 */
  font-size: 1rem; /* 폰트 상속 */
  cursor: pointer; /* 커서 포인터로 변경 */
  outline: none; /* 아웃라인 제거 */
  border-radius: 5px; /* 모서리 둥글게 제거 */
  top: '10px';
  right: '20px';
}

.generate-button:hover {
  color:white
}
.created-img{
  /* border: 1px solid red; */
}
.temp-img1{
  width: '100%';
  height:'60vh';
  /* object-fit:contain; */
}
.created-img{
  display:flex;
  align-items: center;
  justify-content: center;
}
/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  /* #9dd6e7 */
  -webkit-box-shadow: #9dd6e7 1.5em 0 0 0, #9dd6e7 1.1em 1.1em 0 0, #9dd6e7 0 1.5em 0 0, #9dd6e7 -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, #9dd6e7 0 -1.5em 0 0, #9dd6e7 1.1em -1.1em 0 0;
  box-shadow: #9dd6e7 1.5em 0 0 0, #9dd6e7 1.1em 1.1em 0 0, #9dd6e7 0 1.5em 0 0, #9dd6e7 -1.1em 1.1em 0 0, #9dd6e7 -1.5em 0 0 0, #9dd6e7 -1.1em -1.1em 0 0, #9dd6e7 0 -1.5em 0 0, #9dd6e7 1.1em -1.1em 0 0;
  /* -webkit-box-shadow: #9dd6e7 1.5em 0 0 0, #9dd6e7 1.1em 1.1em 0 0, #9dd6e7 0 1.5em 0 0, #9dd6e7 -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, #9dd6e7 0 -1.5em 0 0, #9dd6e7 1.1em -1.1em 0 0;
  box-shadow: #9dd6e7 1.5em 0 0 0, #9dd6e7 1.1em 1.1em 0 0, #9dd6e7 0 1.5em 0 0, #9dd6e7 -1.1em 1.1em 0 0, #9dd6e7 -1.5em 0 0 0, #9dd6e7 -1.1em -1.1em 0 0, #9dd6e7 0 -1.5em 0 0, #9dd6e7 1.1em -1.1em 0 0; */
  
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.edit-text {
  font-size: 0.7em;
  color: #B8B8B8;
}

@media (max-width: 430px) {
  .edit-text {
    font-size: 12px;
  }
}
.generate-button-temp{
  width:100%;
  background: rgba(157, 214, 233, 1); /* 배경색 제거 */
  color: black; /* 부모 요소의 텍스트 색상 상속 */
  border: none; /* 테두리 제거 */
  padding: 4px 20px; /* 패딩 제거 */
  margin: 0; /* 마진 제거 */
  /* font-size: 1rem;  폰트 상속 */
  cursor: pointer; /* 커서 포인터로 변경 */
  outline: none; /* 아웃라인 제거 */
  border-radius: 5px; /* 모서리 둥글게 제거 */
  /* top: '10px'; */
  /* right: '20px'; */
}
